body {
    font-family: Arial, sans-serif;
    padding: 0;
    height: 100%; /* Ensure the body fills the viewport */
    margin: 0; /* Remove default margin */
  }
  header {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  #hero h2 {
    font-size: 3rem;
  }
  @media (max-width: 768px) {
    #hero h2 {
      font-size: 2rem;
    }
  }
  